addict==2.4.0
backstrip==0.2.4
black==22.10.0
colorclade==0.3.0
Deprecated==1.2.13
hstrat==1.20.14
interval_search==0.5.2
IPython==7.31.1
imageio==2.37.0
iplotx==1.2.0
isort==5.12.0
matplotlib==3.9.2
more_itertools==9.1.0
moviepy==1.0.3
nb-clean==2.4.0
nbqa==1.9.0
nbconvert==7.6.0
nbmetalog==0.2.6
numpy==2.2.6
opencv-python==4.11.0.86
opytional==0.1.0
pandas==2.2.3
pecking==0.2.1
polars==1.34.0
pillow==10.4.0
pytest==7.2.2
pyarrow==16.1.0
pygifsicle==1.1.0
pytest-xdist==3.2.1
ruff==0.0.260
scipy==1.14.1
seaborn==0.13.2
teeplot==1.4.2
torchvision==0.15.2
tqdm==4.64.1
uv==0.4.20
watermark==2.4.3

# https://github.com/sphinx-doc/sphinx/issues/10291
Jinja2<3.1
